body {
    width: 100vw;
    min-height: 100vh;
    background-color: #EEEEEE;
    font-family: 'Lato', sans-serif;
}

#grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% auto 10%;
    grid-template-areas: "header" "main" "footer";
}

#header {
    background-color: aqua;
    grid-area: header;
    display: flex;
    align-items: center;
    padding: 0 2%;
    justify-content: space-between;
}

#main {
    background-color: lightcoral;
    grid-area: main;
    margin: 0 10%;
}

#footer {
    background-color: lawngreen;
    grid-area: footer;
    margin: 0 10%;
    background-color: #DDDDDD;
}

#brand-logo {
    max-width: 25%;
}

#header-img {
    max-width: 100%;
    height: auto;
    display: block;
}


/* #nav-bar {
    display: flex;
} */

#navbar-links {
    display: flex;
}

.nav-link {
    text-decoration: none;
    color: black;
    padding-left: 7%;
}

#footer-content {
    float: right;
    text-align: right;
    padding: 1% 1.5%;
}

.footer-link {
    text-decoration: none;
    color: black;
    padding-left: 7%;
}

#footer-links {
    padding-bottom: 3%;
}