body {
    width: 100vw;
    min-height: 100vh;
}

#grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% auto 10%;
    grid-template-areas: "header" "main" "footer";
}

#header {
    background-color: aqua;
    grid-area: header;
}

#main {
    background-color: lightcoral;
    grid-area: main;
}

#footer {
    background-color: lawngreen;
    grid-area: footer;
}